<h2> YOUR CART <  /h2>
<% if @cart_line_items.empty? %>
	<p>YOUR cart is empty. Shop <%= link_to "here", products_path %></p>
<%else%>
    <table border="1" >
      <thead>
         <tr>
              <th> # </th>
              <th>  PICTURE</th>
              <th> NAME </th>
              <th>PRICE</th>
              <th>Quantity</th>
              <th>Total</th>
              <th>DELETE THE ITEM</th>
          </tr>
      </thead>
      <tbody>
           <% @cart_line_items.each_with_index do |cart_line_item,index| %>
           <tr>
             <td><%= index + 1 %></td>
             <td><%= image_tag("#{cart_line_item.product.feature_image_url}",size:"20x20") %></td>
              <td><%= cart_line_item.product.name %></td>
              <td> <%= cart_line_item.product.price  %> </td>
              <td><%=cart_line_item.quantity %> </td>
              <td> <%= cart_line_item.product.price * cart_line_item.quantity %> </td>
              <th><%= link_to "delete",cart_line_item_path(cart_line_item.id),method: :delete, data: {confirm: "Are u sure that u want to destroy "}%></th>
           </tr>
           <%end%>    
      </tbody>

</table>
 TOTAL IS: <% sum=0 %>
           <%@cart_line_items.each do |cart_line_item|%>
           <%sum+=((cart_line_item.quantity)*(cart_line_item.product.price))%>
           <%end%>
           <%=sum %>
<h1>place the order </h1>

<%=form_for Order.new do |f|%>
  <%current_user.addresses.each do |address|%>
      <label for="user_address"><%address.name%></label>
      <%= f.radio_button :address_id,address.id%> <%address.name%><%=address.landmark%>-<%=address.city%></br>
  <%end%>
 <%=f.submit "Create order"%>    
<%end%>
<script>
  
</script>  

<%end%>
               
