LISTING OF ALL THE WIshLISTS FOR THAT PARTICULAR PERSON
<%if @wishlists.empty? %>
   No items in the wishlist pf yours
<%end%>
<ol>
<%@wishlists.where(user_id: current_user.id).pluck(:product_id).uniq.each do |productid|%>
   <li><%=Product.find(productid).name%> </li><br/>
<%end%> 
</ol>

<table>
 <tbody>  
  <ol>
  <%@wishlists.where('user_id=?',current_user.id).uniq.each do |wishlist|%>
     <tr id='wishlist_adder'>
       <th><%=wishlist.product.name%></th>
       <th><%=link_to 'EDIT THE WISHLIST ',edit_wishlist_path(wishlist.id)%></th>
       <th><%=link_to 'Delete the Wishlist',wishlist_path(wishlist.id),method: :delete,remote: true %></th>
       <br/>
     </tr>
  <%end%>
</ol>
</tbody>
</table>


<br/>
<br/>
<b><strong>ADD A WISHLIST</strong></b>
<h1 id=wishlist_notice></h1>
<h1 id=wishlist_errors></h1>
<%=form_for(Wishlist.new,remote: true) do |f|%>
<table border="1">
   <thead>
   <tr>
     <th>productNAME</th>
   </tr>
   </thead>

   <thead>
    <tr> 
        <th><%= f.collection_select :product_id,Product.all,:id,:name%></th>
        <%= f.hidden_field :user_id,value: current_user.id %>
    </tr>
   </thead>
    <br/>
</table>
<%=f.submit%>
<% end %>
